$primary-font: 'Work Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;



$primary-color: #3A54B4;
$background-color: #FEF7ED;
$white-color: #FFFFFF;
$active-color: #FF8B7B;
$overlay-color: rgba(177, 159, 159, 0.5) 