@use "variables" as *;
@use "mixins" as *;


body {
    margin: 0;
    padding: 0;
    font-family: $primary-font;
}

.flex-center {
    @include flex;
}


header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: $background-color;
    padding: 18px 80px;
    box-sizing: border-box;
    
    nav {
        width: 100%;
        background-color: $background-color;
        div.container-fluid {
            text-align: center;
            i {
                font-size: 25px;
                padding: 10px;
                color: $primary-color;
            }

            a.navbar-brand {
                font-size: 25px;
                font-weight: 600;
                color: $primary-color;
            }
            a.nav-link {
                color: $primary-color;
                font-size: 14px;
                font-weight: 600;
                font-family: $primary-font;
                
                &.active {
                    color: $active-color;
                }
            }
            div.collapse {
                justify-content: flex-end;
            }
        }
    }
}


main {
    width: 100%;
    padding-top: 50px;
    section.home {

        aside.flex-center {
            width: 100%;
            height: 900px;
            
            background-color: $background-color;
            article {
                h1 {
                    font-size: 150px;
                    font-weight: 700;
                    color: $primary-color;
                    font-family: $primary-font;
                    line-height: normal;
                }
                h3 {
                    font-size: 31px;
                    font-weight: 300;
                    color: $primary-color;
                    font-family: $primary-font;
                }
                button {
                    @include button($w: 185px)
                }
            }
            img {
                border-radius: 50%;
            }
        }
    }



    section.about {

        aside.flex-center {
            width: 100%;
            height: 730px;
            background-color: $white-color;

            article {

                p {
                    width: 350px;
                    height: 142px;
                    font-size: 14px;
                    color: $primary-color;
                    line-height: 1.8;
                }
                span {
                    font-size: 62px;
                    font-weight: 700;
                    color: $primary-color;
                }
                button {
                    @include button($w: 142px)
                }
            }

            img {
                border-radius: 50%;
            }
        }
    }


    section.services {

        h2 {
            text-align: center;
            font-size: 62px;
            color: $primary-color;
            font-weight: 700;
        }
        button{
            @include button();
        }
        aside.flex-center {
            width: 100%;
            height: 675px;
            background-color: $white-color;
            text-align: center;

            div.dental_care {
                @include services;
            }

            div.checkup {
                @include services;
            }

            div.grooming {
                @include services;
            }
        }
    }


    section.clients {
        padding: 50px;
        box-sizing: border-box;

        h2 {
            text-align: center;
            font-size: 62px;
            color: $primary-color;
            font-weight: 700;
        }
        aside {
            padding-top: 80px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            
            img {
                max-width: 100%;
                padding: 10px;
            }
            img:hover {
                opacity: 0.8;
            }
        }
    }


    section.coments {
        margin-bottom: 200px;
        h2 {
            text-align: center;
            font-size: 62px;
            color: $primary-color;
            font-weight: 700;
            margin-top: 100px;
        }

        aside.flex-center {

            div.coment {
                @include coments-contact;
            }
        }
    }



    section.contact {
        background-color: $primary-color;
        h2 {
            text-align: center;
            font-size: 62px;
            color: $white-color;
            font-weight: 700;
            padding-top: 100px;
        }
        div.info {
            @include coments-contact($w:160px,$color:$white-color, 
            $pcolor:$white-color,
            $h4fs:15px,$h4p:100px 0 10px);
        }

        form#contact-form {
            max-width: 800px;
            div.row {
                margin-right: 0;
                border: none;
                div.col-md-6 {
                    
                    input {
                        border-radius: 0%;
                        border: none;
                        border-bottom: 1px solid $white-color;
                        background: none;
                    }
                    input::placeholder {
                        color: $white-color;                              
                        font-size: 14px;
                        font-weight: 300;
                     }
                }

                div.col-md-12 {

                    textarea {
                        height: 125px;
                        border-radius: 0%;
                        border: none;
                        background: none;
                        border-bottom: 1px solid $white-color;
                    }
                    textarea::placeholder {
                                color: $white-color;
                                font-size: 10px;
                    }
                }
            }
                
            input.submit-button {
                margin: 20px 0;
                width: 100%;
                height: 40px;
                background: none;
                border: none;
                color: $white-color;
                font-size: 15px;
                font-weight: 300;
            }
                
            input.submit-button:hover {
                background-color: rgba(128, 128, 128, 0.5);                  
                opacity: 0.8;
            }
        }

        div.contact-icons.flex-center {
            padding: 100px 0 50px;
            gap: 20px;
            i {
                color: $white-color;
            }
        }   
    }    


    section.about-page {

        h2 {
            padding-top: 50px;
            text-align: center;
            font-size: 62px;
            font-weight: 700;
            color: $primary-color;
        }
        aside.flex-center {
            width: 100%;
            height: 730px;
            background-color: $white-color;

            img {
                border-radius: 50%;
            }
            
            article {
                margin-top: -150px;
                h3 {
                    width: 290px;
                    height: 50px;
                    font-size: 22px;
                    font-weight: 600;
                    font-family: $primary-font;
                    color: $primary-color;
                    margin-bottom: 30px;
                }

                p {
                    width: 385px;
                    height: 142px;
                    font-size: 14px;
                    font-weight: 300;
                    color: $primary-color;
                    line-height: 1.8;
                }
            }
        }       
    }
}

footer.flex-center {
    max-width: 100%;
    height: 50px;
    background-color: $white-color;
    
    span {
        font-size: 12px;
        color: $primary-color;
    }
}





